body{
	margin: 0;
	padding: 0;
}
.container{

    width: 1200px;
    background: #00BCD4;
    margin: 0 auto;

}
.menu{
	background: #137a88;
    overflow: hidden;

}
ul{margin: 0;
    padding: 0;}
li{
	list-style: none;
    float: left;
}
a{

    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: black;

}
a:hover{
	background-color: white;
	color: red;
}

.main-content{
	height: 600px;

    width: 100%;
}
.left{

    width: 70%;
    background: yellow;
    height: 600px;
    float: left;
}
.one{
    width: 70%;
    height: 200px;
    background: green;
    float: left;
}
.two{
	width: 30%;
    height: 200px;
    float: left;
    background: orange;
}
.three{

    width: 33.3%;
    height: 200px;
    float: left;
}

.right{

    width: 30%;
    height: 600px;
    float: left;
}
.four{
    height: 300px;
    background-color: skyblue;
}

.copyright{
    height: 50px;
    background: brown;
}
img{

	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	 
}